@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-color: #242424;
	margin: 0 auto;
	padding: 2rem;
	max-width: 768px;
}

h1, h2, h3 {
	font-family: 'Poppins', sans-serif;
	color: #ffba44;
}

h2 {
	margin: 0.3rem 0;
	font-size: 1.2rem;
}

h3 {
	margin: 0.2rem 0;
	font-size: 1rem;
}

a {
	color: #ffba44;
	text-decoration: none;
}

a:hover {
	opacity: .8;
	transition: .5s;
}

p {
	line-height: 1.5rem;
	font-size: 0.9rem;
}

nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

a.banner {
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	color: #ffba44;
	display: flex;
	align-items: center;
	padding-right: 1rem;
}

a.banner img {
	height: 2.5rem;
	padding-right: .5rem;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0;
	list-style: none;
}

nav ul li + li {
	padding-left: .9rem;
}

nav ul li a {
	color: #ffe5a1;
}

nav ul li:last-of-type a {
	font-weight: 700;
	color: #242424;
	background-color: #ffba44;
	padding: .25rem .5rem;
	border-radius: 2px;
}

section {
	position: relative;
}

.tiles > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	list-style: none;
}

.tiles > ul > li {
	position: relative;
	height: 0;
}

.tiles > ul > li > a, .tiles > ul > li .gacha-tiles {
	color: #242424;
	background-color: #ffba44;
	position: absolute;
	display: block;
	z-index: 1;
	transition: none;
	transform: rotate(45deg);
	width: calc(90% * (1/1.4142135623730950488016887242097));
	height: calc(90% * (1/1.4142135623730950488016887242097));
	top: calc((100% - 90% * (1/1.4142135623730950488016887242097)) / 2);
	left: calc((100% - 90% * (1/1.4142135623730950488016887242097)) / 2);
	border-radius: 15%;
	border: none;
}

.tiles > ul > li .gacha-tiles:hover {
	cursor: pointer;
}

.tiles > ul > li .gacha-tiles > span {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: rotate(-45deg);
	width: 100%;
	height: 100%;
	font-size: 1.1rem;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

.tiles > ul > li > a > span {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	transform: rotate(-45deg);
	width: 100%;
	height: 100%;
	font-size: 1.1rem;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

.challenges > ul > li > a[solved] {
	color: #ffba44;
	background-color: #242424 !important;
	border: 2px solid #ffba44;
}

.challenges > ul > li > a > div {
	text-align: center;
	position: absolute;
	transform: rotate(-45deg);
	width: 100%;
	height: 100%;
}

.challenges > ul > li > a h1.value {
	font-size: 1.75em;
	color: inherit;
	margin-top: 27.5%;
	margin-bottom: 5%;
}

.challenges > ul > li > a p.tags {
	font-size: 1em;
	font-style: italic;
	color: inherit;
	margin-top: 0;
	line-height: 20%;
}

.challenges > ul > li > a p.tags span:not(:first-child) {
	display: none;
}

.events > ul > li > input[type=radio] {
	position: absolute;
	opacity: 0;
}

input.workshop ~ label {
	color: black;
	background-color: #ffba44;
	position: absolute;
	display: block;
	z-index: 1;
	transform: rotate(45deg);
	width: calc(90% * (1/1.4142135623730950488016887242097));
	height: calc(90% * (1/1.4142135623730950488016887242097));
	top: calc((100% - 90% * (1/1.4142135623730950488016887242097)) / 2);
	left: calc((100% - 90% * (1/1.4142135623730950488016887242097)) / 2);
	border-radius: 15%;
	cursor: pointer;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s background-color;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

input:required.workshop ~ label.workshop-0 {
	background-color: #ffe5a1;
}

input.workshop ~ label > span {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	transform: rotate(-45deg);
	width: 100%;
	height: 100%;
	font-size: 1.1rem;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

input:checked.workshop ~ label {
	color: #ffba44;
	background-color: transparent !important;
	border: 2px solid #ffba44;
}

input.workshop ~ label img, input:checked.workshop ~ label span {
	opacity: 0;
	visibility: hidden;
	transition: linear 0.5s opacity;
	width: 50%;
}

input:checked.workshop ~ label img, input.workshop ~ label span {
	opacity: 1;
	visibility: visible;
	transform: rotate(-45deg);
	transition: linear 0.3s 0.1s opacity;
}

@keyframes slideLeft1 {
	from {
		transform: rotate(45deg) translate(0px, 0px);
	}
	to {
		transform: rotate(45deg) translate(0px, 135px);
	}
}

@keyframes slideLeft2 {
	from {
		transform: rotate(45deg) translate(0px, 0px);
	}
	to {
		transform: rotate(45deg) translate(0px, 405px);
	}
}

@keyframes slideLeft3 {
	from {
		transform: rotate(45deg) translate(0px, 0px);
	}
	to {
		transform: rotate(45deg) translate(0px, 675px);
	}
}

@keyframes slideUp1 {
	from {
		transform: rotate(45deg) translate(0px, 135px);
	}
	to {
		transform: rotate(45deg) translate(0px, 0px);
	}
}

@keyframes slideUp2 {
	from {
		transform: rotate(45deg) translate(0px, 405px);
	}
	to {
		transform: rotate(45deg) translate(0px, 0px);
	}
}

@keyframes slideUp3 {
	from {
		transform: rotate(45deg) translate(0px, 675px);
	}
	to {
		transform: rotate(45deg) translate(0px, 0px);
	}
}

.events > ul > li:nth-child(3n + 2) > input ~ .workshop-up {
	animation-name: slideUp1;
	animation-duration: 1.2s;
	transition: transform 1.2s linear, cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s background-color;
	transform: rotate(45deg) translate(0px, 0px);
	-webkit-transform: rotate(45deg) translate(0px, 0px);
	-o-transform: rotate(45deg) translate(0px, 0px);
	-moz-transform: rotate(45deg) translate(0px, 0px);
}

.events > ul > li:nth-child(3n) > input ~ .workshop-up {
	animation-name: slideUp2;
	animation-duration: 1.5s;
	transition: transform 1.5s linear, cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s background-color;
	transform: rotate(45deg) translate(0px, 0px);
	-webkit-transform: rotate(45deg) translate(0px, 0px);
	-o-transform: rotate(45deg) translate(0px, 0px);
	-moz-transform: rotate(45deg) translate(0px, 0px);
}

.events > ul > li:nth-child(3n + 1) > input ~ .workshop-up {
	animation-name: slideUp3;
	animation-duration: 1.8s;
	transition: transform 1.8s linear, cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s background-color;
	transform: rotate(45deg) translate(0px, 0px);
	-webkit-transform: rotate(45deg) translate(0px, 0px);
	-o-transform: rotate(45deg) translate(0px, 0px);
	-moz-transform: rotate(45deg) translate(0px, 0px);
}

.events > ul > li:nth-child(3n + 2) > input:required ~ .workshop-left {
	animation-name: slideLeft1;
	animation-duration: 1.2s;
	transition: transform 1.2s linear, cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s background-color;
	transform: rotate(45deg) translate(0px, 135px);
	-webkit-transform: rotate(45deg) translate(0px, 135px);
	-o-transform: rotate(45deg) translate(0px, 135px);
	-moz-transform: rotate(45deg) translate(0px, 135px);
}

.events > ul > li:nth-child(3n) > input:required ~ .workshop-left {
	animation-name: slideLeft2;
	animation-duration: 1.5s;
	transition: transform 1.5s linear, cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s background-color;
	transform: rotate(45deg) translate(0px, 405px);
	-webkit-transform: rotate(45deg) translate(0px, 405px);
	-o-transform: rotate(45deg) translate(0px, 405px);
	-moz-transform: rotate(45deg) translate(0px, 405px);
}

.events > ul > li:nth-child(3n + 1) > input:required ~ .workshop-left {
	animation-name: slideLeft3;
	animation-duration: 1.8s;
	transition: transform 1.8s linear, cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s background-color;
	transform: rotate(45deg) translate(0px, 675px);
	-webkit-transform: rotate(45deg) translate(0px, 675px);
	-o-transform: rotate(45deg) translate(0px, 675px);
	-moz-transform: rotate(45deg) translate(0px, 675px);
}

.workshop-deet {
	display: none;
	width: 100%;
	height: max-content;
	position: absolute;
	animation: fadeIn;
	top: 0;
	-webkit-animation-name: fadeIn;
	animation-duration: 2s;
}

.workshop-description {
	display: none;
	position: relative;
	animation: fadeIn;
	float: right;
	width: 55%;
	-webkit-animation-name: fadeIn;
	animation-duration: 1.5s;
	padding-bottom: 5rem;
}

.workshop-description ol {
	font-size: 0.9rem;
	line-height: 1.5rem;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@media (max-width: 767px) {
	.events > ul > li:nth-child(3n + 2) > input ~ .workshop-up,
	.events > ul > li:nth-child(3n) > input ~ .workshop-up,
	.events > ul > li:nth-child(3n + 1) > input ~ .workshop-up,
	.events > ul > li:nth-child(3n + 2) > input:required ~ .workshop-left,
	.events > ul > li:nth-child(3n) > input:required ~ .workshop-left,
	.events > ul > li:nth-child(3n + 1) > input:required ~ .workshop-left {
		animation-name: none;
		animation-duration: 0s;
		transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s background-color;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
	}

	input:required.workshop ~ label.workshop-0 {
		background-color: #ffba44;
	}
	
	.workshop-description {
		width: 100%;
	}
}

@media (max-width: 465px) {
	nav {
		position: relative;
	}

	nav ul li:last-child {
		position: relative;
		top: -3rem;
		right: 5rem;
	}
}

@media (max-width: 599px) {
	.tiles > ul > li {
		width: 50%;
		padding-top: 50%;
		margin-bottom: calc(-50% / 2);
	}

	.tiles > ul > li:nth-child(3n) {
		margin-left: calc(50% / 2);
	}

	.tiles > ul > li:nth-child(3n) {
		margin-right: calc(50% / 2);
	}

	.tiles > ul > li:nth-child(3n) > a,
	.tiles > ul > li:nth-child(3n) > label {
		background-color: #ffe5a1;
	}

	.tiles > ul > li > a, .tiles > ul > li .gacha-tiles {
		font-size: calc(6vw / 2);
	}

	.workshop-deet {
		top: 89%;
	}

	input:required.workshop ~ label.workshop-0 {
		background-color: #ffba44;
	}
}

@media (min-width: 600px) and (max-width: 767px) {
	.tiles > ul > li {
		width: 33%;
		padding-top: 33%;
		margin-bottom: calc(-33% / 2);
	}

	.tiles > ul > li:nth-child(5n+4) {
		margin-left: calc(33% / 2);
	}

	.tiles > ul > li:nth-child(5n) {
		margin-right: calc(33% / 2);
	}

	.tiles > ul > li:nth-child(5n+4) > a,
	.tiles > ul > li:nth-child(5n) > a,
	.tiles > ul > li:nth-child(5n+4) > label,
	.tiles > ul > li:nth-child(5n) > label {
		background-color: #ffe5a1;
	}

	.tiles > ul > li > a, .tiles > ul > li .gacha-tiles {
		font-size: calc(6vw / 3);
	}

	.workshop-deet {
		top: 100%;
	}

	input:required.workshop ~ label.workshop-0 {
		background-color: #ffba44;
	}
}

@media (min-width: 768px) {
	.tiles > ul > li, .workshop {
		width: 25%;
		padding-top: 25%;
		margin-bottom: calc(-25% / 2);
	}

	.tiles > ul > li:nth-child(7n+5) {
		margin-left: calc(25% / 2);
	}

	.tiles > ul > li:nth-child(7n) {
		margin-right: calc(25% / 2);
	}

	.tiles > ul > li:nth-child(7n+5) > a,
	.tiles > ul > li:nth-child(7n+6) > a,
	.tiles > ul > li:nth-child(7n+7) > a, 
	.tiles > ul > li:nth-child(7n+5) > label,
	.tiles > ul > li:nth-child(7n+6) > label,
	.tiles > ul > li:nth-child(7n+7) > label {
		background-color: #ffe5a1;
	}
}

.challenges .modal-container {
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
}

.challenges .modal-container:target {
  visibility: visible;
	opacity: 1;
	z-index: 10;
}

.challenges .modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
	bottom: 0;
}

.challenges dialog {
	position: fixed;
	color: white;
	background-color: #242424;
	opacity: 95%;
	border: 2px solid #ffba44;
	position: fixed;
	z-index: 2;
	width: 80vw;
	max-width: calc(768px * .8);
	max-height: 90vh;
	border-radius: 2px;
	top: 50%;
	transform: translate(0, -50%);
}

.challenges dialog h1 {
	margin-top: 0;
	margin-bottom: .5rem;
}

.challenges dialog p.value,
.challenges dialog p.solves {
	font-style: italic;
	display: inline-block;
	margin: 0;
}

.challenges dialog p.value {
	padding-right: .5rem;
}

.challenges dialog p.value::after {
	content: " points,";
}

.challenges dialog p.value[data="1"]::after {
	content: " point,";
}

.challenges dialog p.solves::after {
	content: " solves";
}

.challenges dialog p.solves[data="1"]::after {
	content: " solve";
}

.challenges dialog p.author {
	font-style: italic;
	margin: 0;
}

.challenges dialog p.author::before {
	content: "Author: ";
}

.challenges dialog p.tags {
	margin: 0;
}

.challenges dialog p.tags::before {
	content: "Tags: ";
	font-style: italic;
}

.challenges dialog p.tags span {
	font-size: .8rem;
	color: #242424;
	background-color: #ffba44;
	margin: 0 .25rem;
	padding: .1rem .5rem;
	border-radius: .8rem;
}

.challenges dialog form {
	margin-top: 1.5rem;
	display: flex;
}

.challenges dialog form input[type=text]:focus,
.challenges dialog form input[type=text]:active {
	outline: none;
}

.challenges dialog form input[type=text] {
	font-family: 'Open Sans', sans-serif;
	font-size: .8rem;
	flex-grow: 1;
	padding: .5rem;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border: none;
}

.challenges dialog form button {
	font-family: 'Open Sans', sans-serif;
	font-size: .8rem;
	color: #242424;
	background-color: #ffba44;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border: none;
}

.challenges dialog a.close {
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
}

.challenges dialog a.close::after {
	content: "×";
	font-size: 2em;
	visibility: visible;
	padding-right: .3em;
}

.scoreboard {
	overflow-x: auto;
}

.scoreboard table {
	border-collapse: collapse;
	margin-bottom: 1rem;
}

.scoreboard .team {
	max-width: 12rem;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.scoreboard .score {
	border-right: 2px solid #ffba44;
}

.scoreboard .challenge {
	border-right: 1px dashed #ffba44;
}

.scoreboard th,
.scoreboard td {
	border-bottom: 1px dashed #ffba44;
}

.scoreboard th:not(.challenge) {
	text-align: left;
	vertical-align: bottom;
	padding-right: 1rem;
	padding-bottom: .3rem;
}

.scoreboard th.challenge {
	font-weight: normal;
	font-size: .8rem;
	position: relative;
}

.scoreboard th.challenge div {
	text-align: left;
	writing-mode: vertical-rl;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.6rem 0.5rem;
	transform: rotate(180deg);
}

.scoreboard th.challenge,
.scoreboard th.challenge div {
	width: 2rem;
	height: 6rem;
}


.scoreboard td:not(.challenge) {
	padding-right: 1rem;
}

.scoreboard td.challenge[solved] {
	background-color: #ffba44;
	border: 1px solid #ffba44;
}

.profile form input,
.profile form button,
.login form input,
.login form button,
.register form input,
.register form button {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	display: block;
	margin-top: .5rem;
	margin-bottom: 1.25rem;
	padding: .5rem;
	border: none;
	border-radius: 2px;
}

.profile form input,
.login form input,
.register form input {
	width: calc(100% - 1rem);
}

.profile form input:focus,
.login form input:focus,
.register form input:focus {
	outline-color: #ffba44;
}

.profile form button,
.login form button,
.register form button {
	background-color: #ffba44;
}

.tickets {
	border: solid #ffba44 thin;
	border-radius: 8px;
	margin: 20% 30% 1%;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.help {
	background-color: #ffba44;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
	padding: .25rem .5rem;
	border-radius: 2px;
	cursor: pointer;
}

.gacha {
	min-height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gacha > div {
	animation: fadeIn ease 3s;
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}

.gacha-top {
	height: 30px;
	width: 200px;
	border-radius: 8px;
	background-color: #ffba44;
}

.gacha-window {
	min-height: 300px;
	width: 300px;
	border-radius: 20%;
	background-color: #fff2cc;
}

.gacha-control {
	min-height: 150px;
	padding: 8px 5px;
	width:220px;
	border-radius: 18px;
	background-color:  #ffba44;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.gacha-knob {
	height: 75px;
	width: 75px;
	border-radius: 100%;
	background-color: #fff2cc;
	display: flex;
	align-items: center;
	justify-content: center;
}
@keyframes crank {
	from { transform: rotate(20deg); }
	to { transform: rotate(320deg); }
}
.gacha-knob-turn {
	height: 15px;
	width: 60px;
	border-radius: 5%;
	background-color: #ffba44;
	border: #ffbdff;
	animation: crank;
	animation-duration: 2s;
}


.gacha-out {
	height: 70px;
	width: 70px;
	background-color: brown;
	border-radius: 15%;
	transform: rotate(45deg);
}


 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 2.7rem;
    height: 1.2rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 5px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: .2rem;
    bottom: .15rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ffba44;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ffba44;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

ul.prizes {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

ul.regular > li {
	flex-basis: 33%;
}

ul.prizes > li::marker {
	content: "🔑";
}

.container {
	width: 100%;
	height: 100%;
}
.confetti {
	width: 15px;
	height: 15px;
	background-color: #f2d74e;
	position: absolute;
	left: 50%;
	animation: confetti 5s ease-in-out -2s infinite;
	transform-origin: left top;
}
.confetti:nth-child(1) {
background-color: #f2d74e; left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
background-color: #95c3de; left: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
background-color: #ff9a91; left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
background-color: #95c3de; left: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
background-color: #ff9a91; left: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
background-color: #95c3de; left: 80%; animation-delay: -2s;
}
.confetti:nth-child(9) {
background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
}

@keyframes confetti {
0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}
